@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #5d97d8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
footer{
background-color: rgb(145, 185, 231);
color: rgb(240, 232, 232);
text-align: center;
padding: 10px;
margin-top: 20px;

}

footer .r-linha{
    display: flex;
    flex-direction: row;
    justify-content: center;     
    gap: 10px; 
}

footer .r-linha-item img{
    width: 150px;
    height: auto;           
}

footer .r-linha-item{
    width: 400px;

}

footer a{
    text-decoration: none;
    font-size: 35px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    border-radius: 50%;
}

.rede-social{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.facebook{
    background-color: blue;
}

.instagram{
    background-image: linear-gradient(45deg, #fcb045, #fd1d1d, #833ab4);
}

.whatsapp{
    background-color: rgb(37, 211, 102);
}