*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times new roman", sans-serif; 
}

body {
    background-color:tan;
    color:rgb(4, 96, 99);
}

header {
    background-color:rgb(4, 96, 99);
    color:rgb(255, 211, 155);
    text-align: center;
    padding: 20px;
} 

nav{
    background-color: rgb(241, 206, 159);
    padding: 10px;
    text-align: center;
}

nav a {
    color:grey;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background:rgb(240, 206, 162);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
}

.dest{
    background-image: url('../Imagem/Loogo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
    font-size:24px;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.container img {
    width: 50%;
    max-width: 500px;
    height: auto;
    border: 10px;
}

.text {
    width: 50%;
    padding: 20%;

}

section:nth-child(even).text {
    order: -1;
}